snippet pfun "public function"
  public function $1($2): $3
  {
      $0
  }

snippet prfun "private function"
  private function $1($2): $3
  {
      $0
  }

snippet profun "protected function"
  protected function $1($2): $3
  {
      $0
  }

snippet fun "function"
  function $1($2): $3
  {
      $0
  }

snippet function "function"
  function $1($2): $3
  {
      $0
  }

snippet pu "public"
  public $0

snippet pr "private"
  private $0

snippet pro "protected"
  protected $0

