snippet log "console.log"
  console.log($0)

snippet cn "className"
  className="$0"

snippet cnn "className obj"
  className={$0}

snippet rsf "react stateless function"
  type ${1:Component}Props = React.PropsWithChildren<{

  }>;

  function ${1:Component}(props: ${1:Component}Props) {
    return (
      <></>
    );
  }

  export default ${1:Component};
