snippet p "php"
$0.php
endsnippet

snippet c "controller"
$0Controller.php
endsnippet

snippet d "data"
$0Data.php
endsnippet

snippet l "listenener"
$0Listener.php
endsnippet

snippet req "request"
$0Request.php
endsnippet

snippet res "response"
$0Response.php
endsnippet

snippet o "observer"
$0Observer.php
endsnippet

snippet sp "service provider"
$0ServiceProvider.php
endsnippet

snippet f "factory"
$0Factory.php
endsnippet

snippet t "test"
$0Test.php
endsnippet
