snippet log "console log"
console.log($1);
endsnippet

snippet fn "function"
function $1() {
    $2
}
endsnippet

snippet c "const variable"
const $1 = $2;
endsnippet

snippet l "let variable"
let $1 = $2;
endsnippet

snippet if "if"
if ($1) {
    $2
}
endsnippet
